.budgetpage{
    width: 100rem;
    display: flex;
    padding: 2rem;
}

.budgetlist{
    width: 50rem;
    padding-left: 3rem;
}

.vertical_line_bpage{
    background-color: rgb(196, 193, 193);
    width: .1rem;
    border-radius: 1rem;
    height: 18rem;
}


.totalbudget{
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.brecord_bar{
    width: 10rem;
}

.brecord{
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 35rem;
    margin-left:3rem;
}

.brecord_amount{
    width: 5rem;
}

.brecord_name{
    width: 7rem;
}

.edit_btn_btn_item{
    color: rgb(227, 78, 78);
    font-size: 1.4rem;
}