.re_main{
    background-color: #5271ff;
    padding: 1.05rem;
    border-radius: .8rem;
    color: white;
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.re_main span{
    font-size: 1.3rem;
}

.re_main hr{
    margin: .1rem;
}


.re_subsection{
    text-align: center;
    font-weight: 200;
}


.last_records{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: .3rem;

}

.last_record_name{
width: 8rem;
text-align: left;
font-family: Arial, sans-serif; 
font: 100;

}

.last_record_date{
    width: 6rem;
    text-align: left;

}

.last_record_amount{
    width: 8rem;
    text-align: left;
    padding-left: 1.5rem;
    font-weight: 500;


}

.class_dot{
background-color: green;
width: .6rem;
height: .6rem;
border-radius: .4rem;
}

.class_expense{
    background-color: red;

}