.speedometer {
  height: 80px;
  width: 50px;
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .speedometer {
    height: 60px;
    width: 40px;
    margin-right: 25rem;
    margin-bottom: 5rem;
  }
}

@media (max-width: 480px) {
  .speedometer {
    height: 40px;
    width: 30px;
    margin-right: 25rem;
    margin-bottom: 5rem;
  }
}
