.navbar.navbar-expand-lg {
  background-color: #5271ff;
  position: sticky;
  top: 0;
  height: 5.5rem;
}

.navbar-nav {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav .nav-item {
  background-color: #fff;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  height: 2.7rem;
  width: 7.5rem;
  font-weight: 500;
  color: black;
}
.navbar-brand {
  color: white;
  font-family: "Inclusive Sans", sans-serif;
  font-size: 1.7rem;
}

.navbar-brand:focus {
  color: white;
  font-family: "Inclusive Sans", sans-serif;
}

.navbar-nav .nav-item:hover {
  background-color: #004aad;
  color: white;
  font-size: 1rem;
}

div.profile_icon {
  font-size: 3.4rem;
  padding: 0.7rem;
  margin-right: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ant-btn.css-dev-only-do-not-override-18iikkb.ant-btn-default {
  visibility: hidden;
}

.ant-btn.css-dev-only-do-not-override-18iikkb.ant-btn-primary {
  background-color: #004aad;
}

.ant-modal-content {
  background-color: #c1c8e4;
}

.logod {
  height: 2.8rem;
  width: 2.8rem;
  margin-right: 1rem;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}

.add_record_btn {
  background-color: rgba(96, 232, 17, 0.777) !important;
  color: white !important;
  font-weight: 600;
  width: 7.3rem !important;
}

.add_record_btn:hover {
  background-color: rgba(96, 232, 17, 0.777) !important;
  color: white !important;
  font-weight: 600;
  width: 7.3rem !important;
}
@media (max-width: 768px) {
  .navbar-brand {
    color: white;
    font-family: "Inclusive Sans", sans-serif;
    font-size: 1rem;
  }

  .logod {
    height: 2.8rem;
    width: 2.8rem;
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
}
