.goal_main {
  background-color: #5271ff;
  margin: 1rem;
  width: 42rem;
  margin-left: 8rem;
  padding: 0.3rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 1.4rem;
  padding-top: 1.1rem;
  color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.goal_m {
  display: flex;
}

.goal_submain {
  display: flex;
  justify-content: space-between;
}

.goal_subsection {
  text-align: right;
  display: flex;
  padding-top: 0.5rem;
}

.edit_icon {
  padding-left: 2rem;
  font-size: larger;
}

.edit_btn {
  color: black;
}

.goal_name {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  width: 12rem;
}

.per_bar {
  padding-top: 0.7rem;
  padding-left: 0.8rem;
}

.goal_icon {
  font-size: 1.5rem;
  background-color: #12486b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  padding: 0.5rem;
  margin-right: 0.6rem;
}

.target_date {
  text-align: left;
  padding-left: 3.2rem;
}

.target_date span {
  padding-right: 0.4rem;
  color: white;
}

.goal_amount {
  font-size: 1.2rem;
  width: 7rem;
  text-align: left;
}

.ant-progress .ant-progress-text {
  display: inline-block;
  width: 2em;
  margin-inline-start: 8px;
  color: white;
  line-height: 1;
  white-space: nowrap;
  text-align: start;
  vertical-align: middle;
  word-break: normal;
}

@media (max-width: 768px) {
  .goal_main {
    width: auto;
    margin: 1rem;
    padding: 0.3rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }

  .goal_submain {
    flex-direction: row;
    align-items: center;
  }

  .goal_subsection {
    padding-top: 0.2rem;
    flex-direction: row;
    align-items: center;
  }

  .edit_icon {
    padding-left: 0.5rem;
    font-size: 0.8rem;
  }

  .goal_name {
    width: auto;
    text-align: center;
    font-size: 0.8rem;
    width: max-content;
  }

  .per_bar {
    padding-top: 0.2rem;
    padding-left: 0.8rem;
    margin-bottom: 0;
    width: 15rem;
  }

  .goal_icon {
    font-size: 0.8rem;
    margin-top: 0.7rem;
  }

  .target_date {
    padding-left: 2.4rem;
    text-align: left;
    font-size: 0.7rem;
  }

  .goal_amount {
    width: auto;
    text-align: center;
    font-size: 0.8rem;
  }
}
